body.light-theme, :root {
    /* light theme color */
    --custom-background: 255, 255, 255;
    --custom-background-secondary: 234, 234, 234;
    --custom-header: 250, 250, 250;
    --custom-color: 34, 34, 34;
    --custom-color-secondary: 153, 153, 153;
    --custom-border-color: 220, 220, 220;
}

body.dark-theme {
    /* dark theme colors */
    --custom-background: 41, 42, 45;
    --custom-background-secondary: 59, 61, 66;
    --custom-header: 37, 38, 39;
    --custom-color: 169, 169, 179;
    --custom-color-secondary: 115, 116, 123;
    --custom-border-color: 74, 75, 80;
}

@media (prefers-color-scheme: light) {
    body:not(.dark-theme) {
        /* light theme color */
        --custom-background: 255, 255, 255;
        --custom-background-secondary: 234, 234, 234;
        --custom-header: 250, 250, 250;
        --custom-color: 34, 34, 34;
        --custom-color-secondary: 153, 153, 153;
        --custom-border-color: 220, 220, 220;
    }
}

@media (prefers-color-scheme: dark) {
    body:not(.light-theme) {
        /* dark theme colors */
        --custom-background: 41, 42, 45;
        --custom-background-secondary: 59, 61, 66;
        --custom-header: 37, 38, 39;
        --custom-color: 169, 169, 179;
        --custom-color-secondary: 115, 116, 123;
        --custom-border-color: 74, 75, 80;
    }
}

body.dark-theme,
body.light-theme {
    --aa-search-input-height: 44px;
    --aa-input-icon-size: 20px;
    --aa-base-unit: 16;
    --aa-spacing-factor: 1;
    --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px);
    --aa-spacing-half: calc(var(--aa-spacing) / 2);
    --aa-panel-max-height: 650px;
    --aa-base-z-index: 9999;
    --aa-font-size: calc(var(--aa-base-unit) * 1px);
    --aa-font-family: inherit;
    --aa-font-weight-medium: 500;
    --aa-font-weight-semibold: 600;
    --aa-font-weight-bold: 700;
    --aa-icon-size: 20px;
    --aa-icon-stroke-width: 1.6;
    --aa-icon-color-rgb: var(--custom-color);
    --aa-icon-color-alpha: 1;
    --aa-action-icon-size: 20px;
    --aa-text-color-rgb: var(--custom-color);
    --aa-text-color-alpha: 1;
    --aa-primary-color-rgb: var(--custom-color);
    --aa-primary-color-alpha: 0.2;
    --aa-muted-color-rgb: var(--custom-color-secondary);
    --aa-muted-color-alpha: 0.6;
    --aa-panel-border-color-rgb: var(--custom-border-color);
    --aa-panel-border-color-alpha: 0.3;
    --aa-input-border-color-rgb: var(--custom-border-color);
    --aa-input-border-color-alpha: 0.8;
    --aa-background-color-rgb: var(--custom-background);
    --aa-background-color-alpha: 1;
    --aa-input-background-color-rgb: var(--custom-background-secondary);
    --aa-input-background-color-alpha: 1;
    --aa-selected-color-rgb: var(--custom-color-secondary);
    --aa-selected-color-alpha: 0.205;
    --aa-description-highlight-background-color-rgb: var(--custom-background-secondary);
    --aa-description-highlight-background-color-alpha: 0.5;
    --aa-detached-media-query:(
    max-width: 680px);
    --aa-detached-modal-media-query:(
    min-width: 680px);
    --aa-detached-modal-max-width: 680px;
    --aa-detached-modal-max-height: 500px;
    --aa-overlay-color-rgb: 115, 114, 129;
    --aa-overlay-color-alpha: 0.4;
    --aa-panel-shadow: 0 0 0 1px rgba(35, 38, 59, 0.1), 0 6px 16px -4px rgba(35, 38, 59, 0.15);
    --aa-scrollbar-width: 13px;
    --aa-scrollbar-track-background-color-rgb: var(--custom-color);
    --aa-scrollbar-track-background-color-alpha: 1;
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
    --aa-scrollbar-thumb-background-color-alpha: 1

}
